<{if $catarray.imageheader != ""}>
	<br /><div align="center"><{$catarray.imageheader}></div><br />
<{/if}>

<div><{$description}></div><br />

<div align="center" class="itemPermaLink"><{$catarray.letters}></div><br />
<div align="center"><{$catarray.toolbar}></div><br />
<{if $show_rss}>
<table cellpadding="0" cellspacing="0">
<tr><td width="100%" class="even"><b><{$category_path}></b></td><td align="right" class="even" valign="middle"><{$rss_logo}></td></tr></table><br />
<{else}>
<div class="even"><b><{$category_path}></b></div><br /><{/if}>
<{if $subcategories}>
<fieldset><legend style="font-weight: bold; color: #639ACE;"><{$smarty.const._MD_PDD_SUBCATLISTING}></legend>
<div style="padding: 2px;">
<div align= "left" style="margin-left: 5px; padding: 0px;">
 <table width="80%">
  <tr>
   <{foreach item=subcat from=$subcategories}>
<td width="5%" align="center" valign="top">
                <a href="viewcat.php?cid=<{$subcat.id}>"><img src="<{$subcat.image}>" alt="<{$subcat.alttext}>" align="middle" /></a>
	  </td>
          	<td valign="middle" width="35%">
                 <a href="viewcat.php?cid=<{$subcat.id}>"><b><{$subcat.title}></b></a>&nbsp;(<{$subcat.totallinks}>)
            	 <{if $subcat.infercategories}>
		              <div style="margin-bottom: 3px; margin-left: 16px;"><small><{$subcat.infercategories}></small></div>
      <{/if}>
	 </td>
	 <{if $subcat.count is div by $dividesubcat}>
    </tr><tr>
     <{/if}>
   <{/foreach}>
   </tr>
 </table>    
</div></fieldset>
<br />
<{/if}>
<{if $show_links == true}> 
<div align="center"><small>
<b><{$smarty.const._MD_PDD_SORTBY}></b>&nbsp;<{$smarty.const._MD_PDD_TITLE}> (
<a href="viewcat.php?cid=<{$category_id}>&orderby=titleA">
<img src="images/up.gif" align="middle" alt="" /></a>
<a href="viewcat.php?cid=<{$category_id}>&orderby=titleD">
<img src="images/down.gif" align="middle" alt="" /></a>
)
&nbsp;
<{$smarty.const._MD_PDD_DATE}> (
<a href="viewcat.php?cid=<{$category_id}>&orderby=dateA">
<img src="images/up.gif" align="middle" alt="" /></a>
<a href="viewcat.php?cid=<{$category_id}>&orderby=dateD">
<img src="images/down.gif" align="middle" alt="" /></a>
)
&nbsp;
<{$smarty.const._MD_PDD_RATING}> (
<a href="viewcat.php?cid=<{$category_id}>&orderby=ratingA">
<img src="images/up.gif" align="middle" alt="" /></a>
<a href="viewcat.php?cid=<{$category_id}>&orderby=ratingD">
<img src="images/down.gif" align="middle" alt="" /></a>
)
&nbsp;
<{$smarty.const._MD_PDD_POPULARITY}> (
<a href="viewcat.php?cid=<{$category_id}>&orderby=hitsA">
<img src="images/up.gif" align="middle" alt="" />
</a><a href="viewcat.php?cid=<{$category_id}>&orderby=hitsD">
<img src="images/down.gif" align="middle" alt="" /></a>
)
<br />
<b><{$lang_cursortedby}></b>
</small></div>
<br />
<{/if}>

<{if $page_nav == true}>
<table cellpadding="6" cellspacing="0" border="0" width="100%" align="center" style="border-bottom-width: 0px;">
  <tr>
    <td width="80%" align="left">&nbsp;</td>
    <td width="20%" align="right"><{$pagenav}> </td>
 </tr>
</table>
<{/if}>

<table width="100%" cellspacing="0" cellpadding="10" border="0">
 <tr>
  <td width="100%">
   <!-- Start link loop -->
   <{section name=i loop=$file}>
     <{include file="db:$mydirname" down=$file[i]}>
   <{/section}>
   <!-- End link loop -->
  </td>
 </tr>
</table>

<{if $page_nav == true}>
<table cellpadding="6" cellspacing="0" border="0" width="100%" align="center" style="border-bottom-width: 0px;">
  <tr>
    <td width="80%" align="left">&nbsp;</td>
    <td width="20%" align="right"><{$pagenav}> </td>
 </tr>
</table>
<{/if}>

<{include file="db:system_notification_select.html"}> 
